{% extends "base.html" %}
{% block title %}Nastavenia{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Nastavenia veliteľa</h2>
    <form method="POST" action="{{ url_for('settings') }}">
        <label for="webhook">Discord Webhook URL:</label>
        <input type="url" id="webhook" name="webhook" value="{{ user_webhook }}" required>

        <button type="submit">Uložiť</button>
    </form>

    <p><a href="{{ url_for('logout') }}">Odhlásiť sa</a></p>
</div>
{% endblock %}
